.form-containeru {
    background-color: #fafad2;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.filtros-divu {
    margin-bottom: 20px;
}

.filtros-h1u {
    font-size: 18px;
    margin-bottom: 10px;
}

.pet-iconsu {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.pet-iconsu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pet-iconsu img.selected-petu {
    background-color: #add8e6;
}

.service-iconsu, .availability-buttonsu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.service-iconsu span, .availability-buttonsu span {
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.service-iconsu span.selected-serviceu, 
.availability-buttonsu span.selected-frequencyu,
.availability-buttonsu span.selected-dayu {
    background-color: #add8e6;
}

.textareau {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.select-experienciau {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-containeru {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-buttonu {
    background-color: #d3d3d3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-buttonu {
    background-color: #90ee90;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.div-search{
        text-align: center;
        background-color: #7EBEA3;
        margin-top: 20px;
        margin-bottom: 50px;
        align-content: center;
        margin-right: 400px;
        margin-left: 400px;
        border-radius: 20px;
}